---
import Picture from '$components/Picture.astro';
import type { CollectionEntry } from 'astro:content';
import Button from './Button.astro';
type Props = CollectionEntry<'projects'> & {
	aspectRatio: number;
};
const { data, slug, aspectRatio, ...props } = Astro.props;
const image = data.previewImage ? data.previewImage : data.heroImage;
const href = `/projects/${slug}/`;
---

<div class="rounded-md w-full flex gap-6 flex-col project">
	<a href={href}>
		<Picture aspect={aspectRatio} src={image} alt="Project Hero Image" />
		<h3 class="text-2xl pt-7">{data.title}</h3>
		<p class="font-sm">{data.tags}</p>
		<p class="mt-2 pt-6 color-gray-800 dark:color-gray-200">
			{data.description}
		</p>
	</a>
	<Button href={href} type="outln">View Project</Button>
</div>

<style>
	div.project:hover :global(a.button.outln) {
		background-color: var(--bg-hover);
		color: var(--r-em-color);
	}
	div.project:hover :global(img) {
		border-radius: 1.5rem;
	}
	div.project :global(img) {
		transition: border-radius 0.55s var(--bezier);
	}
</style>
