---
import { Picture } from '@astrojs/image/components';
import type { CollectionEntry } from 'astro:content';
import Button from './Button.astro';
type Props = CollectionEntry<'projects'> & {
	aspectRatio: number;
};
const { data, slug, aspectRatio, ...props } = Astro.props;
---

<div class="rounded-md w-full flex gap-6 flex-col project">
	<a href={`/projects/${slug}/`} class="flex gap-6 flex-col">
		{
			data.heroImage && (
				<Picture
					widths={[400, 800, 1200]}
					aspectRatio={aspectRatio}
					src={data.heroImage}
					alt="Project Hero Image"
				/>
			)
		}
		<h3 class="text-2xl">{data.title}</h3>
		<p class="mt-2">{data.description}</p>
	</a>
	<Button type="outln">View Project</Button>
</div>

<style>
	div.project:hover :global(a.button.outln) {
		background-color: var(--bg-hover);
		color: var(--r-em-color);
	}
	div.project:hover :global(img) {
		border-radius: 1.5rem;
	}
	div.project :global(img) {
		transition: border-radius 0.55s var(--bezier);
	}
</style>
