---
import Button from '$components/Button.astro';
import Picture from '$components/Picture.astro';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'projects'>['data'];

const { title, heroImage, description, role, tags } = Astro.props;
---

<script>
	const buttons = document.querySelectorAll('button.goBack');

	buttons.forEach(button => {
		button.addEventListener('click', () => {
			window.history.back();
		});
	});
</script>
<button
	class="goBack color-black dark:color-white mb-16 flex justify-center items-center gap-2 mx-4 md:lg-8"
>
	<div class="i-untitled-arrow-narrow-left"></div>
	Back
</button>
<article class="w-full max-w-[90ch] mx-auto px-4 xl:px-0 break-words project">
	<header class="mb-24">
		<h1 class="normal text-xl font-bold">{title}</h1>
		<p class="griffter text-6xl mt-4 mb-16">{description}</p>
		<div class="flex w-full gap-8 mb-16">
			<div class="min-w-2/5 md:min-w-fit">
				<div class="mb-1">Role</div>
				<span class="font-bold text-lg">{role}</span>
			</div>
			<div>
				<div class="mb-1">Jobs</div>
				<span class="font-bold text-lg">{tags}</span>
			</div>
		</div>
		<Picture src={heroImage} alt="" aspect={16 / 10} />
	</header>
	<slot />
</article>
<style>
	.goBack div {
		transition: transform 0.3s var(--bezier);
	}
	.goBack:hover div {
		transform: translateX(-0.15rem);
	}
	article.project :global(main)  :global(section ~ section, h1, h2, h3, h4, h5, h6) {
		margin-top: 6.5rem;
	}
	article.project :global(main)  :global(h1, h2, h3, h4, h5, h6) {
		font-size: 2rem;
		line-height: 130%;
	}
	article.project :global(main)  :global(section) {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
	article.project :global(main) :global(> *) {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
</style>
